@using BK.UserManagement.Web.Models.RoleViewModels
@model RoleSysPrivsViewModel

@{
    ViewData["Title"] = "EditRoleSysPrivs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <!-- /.login-logo -->
    <div>
        <p class="login-box-msg"> Edit ROLE_SYS_PRIVS</p>
        <form asp-controller="Role" asp-action="EditRoleSysPrivs" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="User" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <input asp-for="User" class="form-control" />
                        <span asp-validation-for="User" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-2"></div>
                <!-- ROLE_SYS_PRIVS -->
                <div class="col-xs-6">

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateProfile" checked="@Model.CreateProfile">  @Html.DisplayNameFor(m => m.CreateProfile)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="AlterProfile" checked="@Model.AlterProfile">  @Html.DisplayNameFor(m => m.AlterProfile)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="DropProfile" checked="@Model.DropProfile">  @Html.DisplayNameFor(m => m.DropProfile)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateRole" checked="@Model.CreateRole">  @Html.DisplayNameFor(m => m.CreateRole)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="AlterAnyRole" checked="@Model.AlterAnyRole">  @Html.DisplayNameFor(m => m.AlterAnyRole)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="DropAnyRole" checked="@Model.DropAnyRole">  @Html.DisplayNameFor(m => m.DropAnyRole)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="GrantAnyRole" checked="@Model.GrantAnyRole">  @Html.DisplayNameFor(m => m.GrantAnyRole)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateSession" checked="@Model.CreateSession">  @Html.DisplayNameFor(m => m.CreateSession)
                        </label>
                    </div>


                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateAnyTable" checked="@Model.CreateAnyTable">  @Html.DisplayNameFor(m => m.CreateAnyTable)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="AlterAnyTable" checked="@Model.AlterAnyTable">  @Html.DisplayNameFor(m => m.AlterAnyTable)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="DropAnyTable" checked="@Model.DropAnyTable">  @Html.DisplayNameFor(m => m.DropAnyTable)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="SelectAnyTable" checked="@Model.SelectAnyTable">  @Html.DisplayNameFor(m => m.SelectAnyTable)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="DeleteAnyTable" checked="@Model.DeleteAnyTable">  @Html.DisplayNameFor(m => m.DeleteAnyTable)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="InsertAnyTable" checked="@Model.InsertAnyTable">  @Html.DisplayNameFor(m => m.InsertAnyTable)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="UpdateAnyTable" checked="@Model.UpdateAnyTable">  @Html.DisplayNameFor(m => m.UpdateAnyTable)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateTable" checked="@Model.CreateTable">  @Html.DisplayNameFor(m => m.CreateTable)
                        </label>
                    </div>


                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateUser" checked="@Model.CreateUser">  @Html.DisplayNameFor(m => m.CreateUser)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="AlterUser" checked="@Model.AlterUser">  @Html.DisplayNameFor(m => m.AlterUser)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="DropUser" checked="@Model.DropUser">  @Html.DisplayNameFor(m => m.DropUser)
                        </label>
                    </div>

                </div>
                <!-- Admin Option-->
                <div class="col-xs-4">

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateProfileAdminOption" checked="@Model.CreateProfileAdminOption">  @Html.DisplayNameFor(m => m.CreateProfileAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="AlterProfileAdminOption" checked="@Model.AlterProfileAdminOption">  @Html.DisplayNameFor(m => m.AlterProfileAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="DropProfileAdminOption" checked="@Model.DropProfileAdminOption">  @Html.DisplayNameFor(m => m.DropProfileAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateRoleAdminOption" checked="@Model.CreateRoleAdminOption">  @Html.DisplayNameFor(m => m.CreateRoleAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="AlterAnyRoleAdminOption" checked="@Model.AlterAnyRoleAdminOption">  @Html.DisplayNameFor(m => m.AlterAnyRoleAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="DropAnyRoleAdminOption" checked="@Model.DropAnyRoleAdminOption">  @Html.DisplayNameFor(m => m.DropAnyRoleAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="GrantAnyRoleAdminOption" checked="@Model.GrantAnyRoleAdminOption">  @Html.DisplayNameFor(m => m.GrantAnyRoleAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateSessionAdminOption" checked="@Model.CreateSessionAdminOption">  @Html.DisplayNameFor(m => m.CreateSessionAdminOption)
                        </label>
                    </div>


                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateAnyTableAdminOption" checked="@Model.CreateAnyTableAdminOption">  @Html.DisplayNameFor(m => m.CreateAnyTableAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="AlterAnyTableAdminOption" checked="@Model.AlterAnyTableAdminOption">  @Html.DisplayNameFor(m => m.AlterAnyTableAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="DropAnyTableAdminOption" checked="@Model.DropAnyTableAdminOption">  @Html.DisplayNameFor(m => m.DropAnyTableAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="SelectAnyTableAdminOption" checked="@Model.SelectAnyTableAdminOption">  @Html.DisplayNameFor(m => m.SelectAnyTableAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="DeleteAnyTableAdminOption" checked="@Model.DeleteAnyTableAdminOption">  @Html.DisplayNameFor(m => m.DeleteAnyTableAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="InsertAnyTableAdminOption" checked="@Model.InsertAnyTableAdminOption">  @Html.DisplayNameFor(m => m.InsertAnyTableAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="UpdateAnyTableAdminOption" checked="@Model.UpdateAnyTableAdminOption">  @Html.DisplayNameFor(m => m.UpdateAnyTableAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateTableAdminOption" checked="@Model.CreateTableAdminOption">  @Html.DisplayNameFor(m => m.CreateTableAdminOption)
                        </label>
                    </div>


                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="CreateUserAdminOption" checked="@Model.CreateUserAdminOption">  @Html.DisplayNameFor(m => m.CreateUserAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="AlterUserAdminOption" checked="@Model.AlterUserAdminOption">  @Html.DisplayNameFor(m => m.AlterUserAdminOption)
                        </label>
                    </div>

                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" asp-for="DropUserAdminOption" checked="@Model.DropUserAdminOption">  @Html.DisplayNameFor(m => m.DropUserAdminOption)
                        </label>
                    </div>

                </div>


                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat pull-right">Save</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            // Active Menu
            $('.menu_list_role').parent().addClass('active').closest('.treeview').addClass('active');

        });
    </script>
}

