@using BK.UserManagement.Web.Models
@model IEnumerable<ProfileModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Profile List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Profile</a></li>
        <li class="active"><a href="#">Index</a></li>

    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                        <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                        @ViewBag.Message
                    </div>
                }
                <!-- /.box-header -->
                <div class="box-header">
                    @*<h3 class="box-title">User List</h3>*@



                    <button type="button" class="btnAdd btn btn-primary pull-left"
                            onclick="location.href='@Url.Action("AddNewProfile", "Profile")';">
                        <i class="fa fa-plus"></i> Add New Profile
                    </button>
                </div>

                <div class="box-body">
                    <table id="tbl_user" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>PROFILE</th>
                                <th>NUMBER OF ASSIGNED USERS</th>

                                <th><span class="pull-right">Features</span></th>
                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var u in Model)
                            {
                                <tr>
                                    <td>@u.PROFILE
                                    </td>
                                    <td>@u.NOOFUSER

                                        @Html.ActionLink(" [Show List]", "ViewUserInProfile", "Profile", new { _profileName = u.PROFILE }, new { @class = "UserListLink" })
                                                                           
                                    </td>
                                    <td>
                                        @if (u.PROFILE != "DEFAULT" & u.PROFILE != "MONITORING_PROFILE")
                                        {
                                            @Html.ActionLink(" Delete", "DeleteProfile", "Profile", new { _profileName = u.PROFILE }, new { @class = "btnDelete btn btn-danger pull-right", @style = "margin-right: 5px;" })

                                            @Html.ActionLink(" Edit", "Edit", "Profile", new { _profileName = u.PROFILE }, new { @class = "btnEdit btn btn-success pull-right", @style = "margin-right: 5px;" })

                                            @Html.ActionLink(" Reset", "ResetProfile", "Profile", new { _profileName = u.PROFILE }, new { @class = "btnView btn btn-warning pull-right UserListLink", @style = "margin-right: 5px;" })
                                            @*<button type="button" class="btnView btn btn-warning pull-right " style="margin-right: 5px;" onclick="location.href='@Url.Action("ResetProfile", "Profile",new {_profileName = u.PROFILE })';">
                                                <i class="fa fa-list"></i> Reset Default
                                            </button>*@
                                        }
                                        else
                                        {
                                            @Html.ActionLink(" Delete", "DeleteProfile", "Profile", new { _profileName = u.PROFILE }, new { @class = "btnDelete btn btn-danger pull-right disabled", @style = "margin-right: 5px;" })

                                            @Html.ActionLink(" Edit", "Edit", "Profile", new { _profileName = u.PROFILE }, new { @class = "btnEdit btn btn-success pull-right disabled", @style = "margin-right: 5px;" })

                                            @Html.ActionLink(" Reset", "ResetProfile", "Profile", new { _profileName = u.PROFILE }, new { @class = "btnView btn btn-warning pull-right UserListLink disabled", @style = "margin-right: 5px;" })
                                            @*<button type="button" class="btnView btn btn-warning pull-right disabled" style="margin-right: 5px;">
                                                <i class="fa fa-list"></i> Reset Default
                                            </button>*@
                                        }
                                        
                                        @Html.ActionLink(" Copy", "CopyProfile", "Profile", new { _profileName = u.PROFILE }, new { @class = "btnView btn btn-info pull-right", @style = "margin-right: 5px;" })

                                        @if (u.PROFILE != "DEFAULT" & u.PROFILE != "MONITORING_PROFILE")
                                        {
                                            @Html.ActionLink(" View", "ViewProfile", "Profile", new { _profileName = u.PROFILE }, new { @class = "btnView btn btn-primary pull-right", @style = "margin-right: 5px;" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink(" View", "ViewProfile", "Profile", new { _profileName = u.PROFILE }, new { @class = "btnView btn btn-primary pull-right disabled", @style = "margin-right: 5px;" })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                @*<th>Profile Name</th>
                                <th>Features</th>*@
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


@section Scripts {

       <!-- page script -->
    <script type="text/javascript">
        $(function () {
            //$('#example1').DataTable()
            $('#tbl_user').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'pageLength':25,
                'autoWidth': false
            })
        })

        $(document).on("click", "a.UserListLink", function () {
            console.log(this.href)
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#ModalView').html(result).find('.modal').modal({
                        show: true
                    });
                }
            });

            return false;
        });

        $(document).on("click", "a.ResetDefaultLink", function () {
            console.log(this.href)
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#ModalView').html(result).find('.modal').modal({
                        show: true
                    });
                }
            });

            return false;
        });

    </script>



}

