@using BK.UserManagement.Web.Models
@model IEnumerable<ProfileModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Profile List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Profile</a></li>
        <li class="active"><a href="#">Index</a></li>

    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <!-- /.box-header -->
                <div class="box-header">
                    @*<h3 class="box-title">User List</h3>*@

                    <button type="button" class="btnAdd btn btn-primary pull-left"
                            onclick="location.href='@Url.Action("AddNewProfile", "Profile")';">
                        <i class="fa fa-plus"></i> Add New Profile
                    </button>
                </div>

                <div class="box-body">
                    <table id="tbl_user" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>PROFILE</th>
                                <th>NUMBER OF ASSIGNED USERS</th>

                                <th><span class="pull-right">Features</span></th>
                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var u in Model)
                            {
                                <tr>
                                    <td>@u.PROFILE</td>
                                    <td>@u.NOOFUSER

                                        @Html.ActionLink(" [Show List]", "ViewUserInProfile", "Profile", new { _profileName = u.PROFILE }, new { @class = "UserListLink" })
                                                                           
                                    </td>
                                    <td>

                                        <button type="button" class="btnDelete btn btn-danger pull-right" style="margin-right: 5px;" onclick="location.href='@Url.Action("DeleteProfile", "Profile",new {_profileName = u.PROFILE })';">
                                            <i class="fa fa-remove"></i> Delete
                                        </button>

                                        <button type="button" class="btnEdit btn btn-success pull-right" style="margin-right: 5px;" onclick="location.href='@Url.Action("Edit", "Profile",new {_profileName = u.PROFILE })';">
                                            <i class="fa fa-edit"></i> Edit
                                        </button>

                                        <button type="button" class="btnView btn btn-primary pull-right" style="margin-right: 5px;" onclick="location.href='@Url.Action("ViewProfile", "Profile",new {_profileName = u.PROFILE })';">
                                            <i class="fa fa-list"></i> View
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                @*<th>Profile Name</th>
                                <th>Features</th>*@
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


@section Scripts {

       <!-- page script -->
    <script type="text/javascript">
        $(function () {
            //$('#example1').DataTable()
            $('#tbl_user').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })

        $(document).on("click", "a.UserListLink", function () {
            console.log(this.href)
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    console.log($('#ModelView'))
                    $('#ModalView').html(result).find('.modal').modal({
                        show: true
                    });
                    console.log($('#ModelView').find('.modal'))
                }
            });

            return false;
        });

    </script>



}

