
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Profile: @ViewBag.ProfileName
    </h1>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>@Html.ActionLink(" Profile","Index","Profile")</a></li>
        <li class="active">View Profile</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">

                <!-- /.box-header -->
                <div class="box-header with-border">
                    @*<h3 class="box-title">User List</h3>*@
                </div>

                <div class="box-body">
                    <table id="tbl_profile" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>RESOURCE_NAME</th>
                                <th>RESOURCE_TYPE</th>
                                <th>LIMIT</th>
                                <th>Feature</th>
                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var u in Model)
                            {
                                <tr>
                                    <td>@u.Resource_Name</td>
                                    <td>@u.Resource_Type</td>
                                    <td>@u.Limit</td>
                                    @if (u.Resource_Name == "SESSIONS_PER_USER" | u.Resource_Name == "CONNECT_TIME" | u.Resource_Name == "IDLE_TIME")
                                    {
                                        <td>@Html.ActionLink(" Edit", "Edit", "Profile", new { _profileName = ViewBag.ProfileName, _resourceName = u.Resource_Name }, new { @class = "btnEdit btn btn-warning", @style = "margin-right: 5px;" })</td>
                                    }
                                    else
                                    {
                                        <td>
                                            <button type="button" class="btnEdit btn btn-default disabled" style="margin-right: 5px;">
                                                Edit
                                            </button>
                                        </td>
                                        
                                        
                                    }
                                    
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>Resource Name</th>
                                <th>Resource Type</th>
                                <th>Limit</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts {

    <!-- page script -->

    <script>
        $(function () {
            $('#tbl_profile').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'pageLength':25,
                'autoWidth': false
            })
        })
    </script>
}


