@using BK.UserManagement.Web.Models
@model IEnumerable<TabPrivsModel>
    @{
        ViewData["Title"] = "Tab Privs";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Object Privilege Table
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> System</a></li>
            <li class="active><a href="#">List Object Privs Of Users</a></li>

        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        @*<h3 class="box-title">User List</h3>*@


                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="datatable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>GRANTEE</th>
                                    <th>OWNER</th>
                                    <th>TABLE_NAME</th>
                                    <th>GRANTOR</th>
                                    <th>PRIVILEGE</th>
                                    <th>GRANTABLE</th>


                                </tr>
                            </thead>
                            
                            <tfoot>
                                <tr>
                                    <th>GRANTEE</th>
                                    <th>OWNER</th>
                                    <th>TABLE_NAME</th>
                                    <th>GRANTOR</th>
                                    <th>PRIVILEGE</th>
                                    <th>GRANTABLE</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

    <environment names="Development">


    </environment>
    <environment names="Staging,Production">


    </environment>
    @section Scripts {

        <script type="text/javascript">
        $(document).ready(function () {
            oTable = $('#datatable').DataTable({
                processing: true,
                serverSide: true,
                //filter: true,
                ordering: true,
                paging: true,
                searching: true,
                filter: true,
                paginType: "full_numbers",
                pageLength: 10,
                ajax: {
                    url: '/Sys/ListTablePrivsAjax',
                    type: 'POST'

                },
                columns: [     
                    { "data": "grantee" },
                    { "data": "owner" },
                    { "data": "tablE_NAME" },
                    { "data": "grantor" },
                    { "data": "privilege" },
                    { "data": "grantable" }

                ], initComplete: function () {
                    var api = this.api();
                    $('.dataTables_filter input')
                        .off('.DT')
                        .on('keyup.DT', function (e) {
                            if (e.keyCode == 13) {
                                api.search(this.value).draw();
                            }
                        });

                    //$('.datefield').each(function (i, el) {
                    //    var txt = $(el).text();
                    //    var dateStr = moment.unix(parseInt(txt) / 1000).format("DD-MM-YYYY");
                    //    //var date = new Date(parseInt(txt));
                    //    $(el).text(dateStr);
                    //});
                },

            });

            $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
                console.log(message);
            };
            $(document).on('click', '.btnEdit', function () {
                var id = $(this).data('userId');
                location.href = '@Url.Content("~/Staffs/Add/")' + id.toUpperCase();
            });
             $(document).on('click', '.btnDelete', function () {
                var userId = $(this).data('userId');
                var username = $(this).data('userName');
                if (confirm("Are your sure to delete customer " + username + " ?")) {
                    location.href = '@Url.Content("~/Staffs/DeleteAsync/")' + userId;
                }
            });

            $('.btnEdit').click(function (e) {
                //var userId = $(this).data('userId');
                var username = $(this).data('userName');
                //console.log($(this).data());
                location.href = '@Url.Content("~/User/Edit/")' + username;
            });
            $('.btnDelete').click(function (e)
            {
                var userId = $(this).data('userId');
                var username = $(this).data('userName');
                if (userId > 100 && userId < 2147483638) {

                    //console.log(username);
                    //console.log('@Url.Content("~/User/Delete/")' + username)
                    location.href = '@Url.Content("~/User/Delete/")' + username;

                } else {

                    alert("Can not delete the user "+username+"/"+userId+"!\r\n Your have not privileges to delete the user with id <100. ");

                }

            });


           

            $('a.menu_user').closest('li').addClass('active');
            //$('a.menu_multilevel').closest('li').addClass('active');
            //$('a.menu_level1').closest('li').addClass('active');

        });
        </script>







    }
