@using BK.UserManagement.Web.Models
@model IEnumerable<SysPrivsModel>
@{
    ViewData["Title"] = "Grant Sys Privileges To User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Grant System Privileges To User
    </h1>

    @*<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> User</a></li>
        <li class="active">Edit</li>
    </ol>*@
</section>

<section class="content">
    <div class="row">
        <div class=" col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    @*<h3 class="box-title">General Elements</h3>*@
                    <div class="form-group">
                        <label class="col-md-1 control-label">PRIVILEGE</label>
                        <div class="col-md-11">
                            @Html.DropDownList("ListPriv", null, null, htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">ADMIN</label>
                        <div class="col-md-11">
                            @Html.DropDownList("ListAdmin", null, null, htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">TYPE</label>
                        <div class="col-md-11">
                            @Html.DropDownList("ListType", null, null, htmlAttributes: new { @class = "form-control select2" })
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                            @ViewBag.Message
                        </div>
                    }
                    <table id="tbl_userSysPriv" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                
                                <th>PRIVILEGE</th>
                                <th>ADMIN_OPTION</th>

                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var u in Model)
                            {
                                <tr>
                                    <td>@u.PRIVILEGE</td>
                                    <td>@u.ADMIN_OPTION</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>